* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 30px;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h3, h4 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

h2, h3, h4 {
    color: #000;
    font-weight: 700;
    line-height: 28px;
}

h1 {
    color: #505050;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    margin-bottom: 150px;
}

h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: 17px;
    margin-bottom: 15px;
}

span.container-xl-heading-span {
    font-family: 'Merriweather', serif;
    color: #000;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.container-xl {
    max-width: 1140px;
    margin: 0 auto;
    padding: 120px 10px;
}

.container-xl-heading {
    text-align: center;
}

.container-wrapp {
    width: 100%;
    background: #eff0f2;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    background: #eff0f2;
}

header {
    padding: 64px 10px;
    position: relative;
}

.logo {
    display: inline-block;
    float: left;
    border: 6px solid #170f1c;
    width: 103px;
    height: 38px;
}

a.logo-link {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.logo-link-span {
    color: rgb(119, 239, 229);
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.navigation-wrapp {
    width: 30px;
    margin-top: 16px;
    display: inline-block;
    float: right;

}

.dropdown-toggle {
    width: 30px;
    height: 20px;
}

.mob-nav-section {
    display: none;
    position: absolute;
    z-index: 5;
    right: 12px;
    top: 100px;
    width: 320px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: #f9fbfb;;
}

.mob-nav-section li a {
    color: #505050;
    display: block;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
}


.mob-nav-section li a:hover {
    background: rgba(118, 244, 234, 0.5);
}

/*--------nav button---------*/
.nav_button {
    width: 30px;
    height: 18px;
    margin: 0 auto;
    cursor: pointer;
}

.nav_button #burger {
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.nav_button #burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nav_button #burger span:nth-child(1) {
    top: 0;
}

.nav_button #burger span:nth-child(2), .nav_button #burger span:nth-child(3) {
    top: 8px;
}

.nav_button #burger span:nth-child(4) {
    top: 16px;
}

.nav_button #burger.active-sandwich span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.nav_button #burger.active-sandwich span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav_button #burger.active-sandwich span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav_button #burger.active-sandwich span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/*------end of nav button

/*-------------------------banner*/
.banner {
    position: relative;
    padding: 244px 0 195px 0;
    max-width: 991px;
    margin: 0 auto;
}

span.banner-bg-span {
    background-color: rgba(118, 244, 234, 0.5);
}

.btn-banner {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    display: block;
    max-width: 225px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 48px;
    border: 2px solid #000;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #b2f2ee;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    opacity: 0.5;
}

.btn-banner:hover {
    text-shadow: 1px 1px 3px rgba(118, 244, 234, 1);
    box-shadow: inset 0 100px 0 0 #b2f2ee;
}

.icon-glass {
    width: 85px;
    height: 90px;
    position: absolute;
    bottom: 135px;
    right: 50px;
}

/*---------------------------------------about us */
.m_about-us_container-wrapp {
    background-color: #f8fafa;
}

.about-us {
    background-color: #f8fafa;
}

.container-xl-heading {
    margin-bottom: 120px;
}

.about-us-inner {
    font-size: 0;
    display: flex;
    justify-content: flex-start;
}

.about-us-slider-wrapp {
    position: relative;
    width: 40%;
    margin: 0 5%;
}

.about-us-slider img {
    width: 100%;
    box-shadow: 0 0 30px 0 rgba(20, 20, 21, 0.13);
    z-index: 99999;
}

.about-us-slider-wrapp .slick-dots {
    width: 100%;
}

.horizontal-block {
    width: 110%;
    height: 85%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: -30px;
    bottom: 0;
    right: -30px;
    -webkit-box-shadow: 1px 1px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 20px -3px rgba(0, 0, 0, 0.3);
}

.slick-dots li button:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 2px;
    background: #71f6eb;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #71f6eb;;
}

.about-us-text-coll {
    width: 40%;
    margin: 0 5%;

}

.about-us-text-coll p {
    font-size: 16px;
    text-align: left;
    color: #000;
}

/*-------------featured-works------*/
.m_featured-works_container-wrapp {
    background: #fff;
}

.featured-works {
    background: #fff;
    font-size: 0;
}

.flex-container-xl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}

.flex-container-xl_inner {
    width: 32.5%;
    margin-bottom: 1%;
}

.flex-container-xl_inner:last-child {
    margin-bottom: 0;
}

.flex-container-xl_inner img {
    max-width: 100%;
}

/*---------services----*/
.m_services_container-wrapp {
    background: #f9fbfb;
}

.flex-wrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.flex-wrapp:last-child {
    margin-bottom: 0;
}

.xl-services-flex-inner {
    width: 57%;
    position: relative;
}

.xl-services-flex-inner img {
    width: 100%;
    height: 100%;
}

.xs-services-flex-inner {
    width: 42%;
    position: relative;
}

.xs-services-flex-inner img {
    width: 100%;
    height: 100%;
}

.layer-abov {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: background 0.5s ease;
    padding: 30px;
}

.layer-abov:hover {
    background: rgba(0, 0, 0, 0.8);
}

.layer-abov h3, p, a, i {
    color: #fff;
}

.layer-abov p {
    color: #fff;
    text-align: left;
}

.layer-abov i {
    color: #71f6eb;
}

.layer-abov a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #f9fbfb;
    font-size: 18px;
    font-weight: 500;
    max-width: 150px;
    display: block;
}

.btn-know-more {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.btn-know-more:hover {
    color: #71f6eb;
}

/*---------team----*/
.m_team_container-wrapp {
    background: #fff;
}

.team-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

.team-item {
    width: 32.5%;
    margin-bottom: 1%;
    position: relative;
}

.team-item img {
    width: 100%;
}

.team-item-description {
    opacity: 0;
    background: rgba(109, 246, 235, 1);
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: 17px;
    padding: 23px;
    transition: all 0.7s ease;
}

.active-team {
    opacity: 1;
}

.team-item-description-inside-wrapp {
    position: relative;
}

.triangle-up {
    position: absolute;
    top: -33px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(109, 246, 235, 1);
}

.team-item-description h3 {
    color: #272727;
}

.italic-span {
    font-style: italic;
    color: #766f6f;
    font-size: 13px;
    text-align: center;
}

.team-item-description p {
    color: #000;
    font-size: 16px;
}

.social-person-links {
    font-size: 0;
}

.social-person-links a {
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-right: 10px;
}

.social-person-links a:last-child {
    margin-right: 0;
}

.social-person-links i {
    font-size: 14px;
    color: #000;
}

.social-person-links i:hover {
    font-size: 14px;
    color: #766f6f;
}

.hero-info {
    display: none;
    font-family: 'Raleway', sans-serif;
    background: rgba(118, 244, 234, 0.5);
    color: #000;
    border: none;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*--------------quote-------*/
.m_quote_container-wrapp {
    background: #f9fbfb;
}

.slide {
    display: flex !important;
    justify-content: space-between;
}

.quote-inner {
    width: 100%;
}

.quote-inner:hover {
    cursor: pointer;
}

.hero-img-wrapp {
    width: 38%;
    position: relative;
    text-align: center;
}

.hero-img-wrapp img {
    z-index: 10;
    position: relative;
    max-width: 370px;
    margin: 0 auto;
    box-shadow: 1px 1px 20px -3px rgba(0, 0, 0, 0.3);
}

.layer-above-xl {
    position: absolute;
    border-radius: 3px;
    background: #ecedef;
    top: 8%;
    right: 0;
    bottom: 8%;
    left: 0;
    z-index: 5;
    box-shadow: 5px 7px 19px -8px rgba(0, 0, 0, 0.75);

}

.hero-quote-wrapp {
    width: 60%;
    position: relative;

}

.hero-quote-inner {
    background: #eaebed;
    position: absolute;
    top: 8%;
    right: 0;
    bottom: 8%;
    left: 0;
    padding: 85px 115px;
    text-align: center;
}

.hero-quote-inner h3, p {
    text-align: center;
    color: #000;
}

.slick-prev:before, .slick-next:before {
    color: #000;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    width: 53px;
    height: 53px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    bottom: -100px;
    top: 105%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);;
    outline: none;
    background: #fff;
    box-shadow: 3px 5px 11px 0 rgba(20, 20, 21, 0.1);
    border-radius: 3px;
    z-index: 20;
}

.slick-prev:hover {
    background: #71f6eb;;
}

.slick-next:hover {
    background: #71f6eb;;
}

.slick-prev {
    left: 90%;
}

.slick-next {
    right: 0;
}

.quote-rating {
    color: #f2da3b;
}
.quote-slider-wrapp .slick-dots{
    width: 38%;
}

/*-------brands-------*/
.m_brands_container-wrapp {
    background: #fff;
}
.brands-row{
    text-align: center;
}
.brands-row a{
    text-align: center;
    display: inline-block;
}

.filter-img {
    filter: grayscale(1);
}

.filter-img:hover {
    filter: none;
}
/*--------- Contact Us ----------*/
.m_contact-us_container-wrapp{
    background: url("../img/form-bg.png") no-repeat;
    background-size: cover;
    position: relative;
}
.layer-form{
    position: absolute;
    top:0; right: 0; bottom: 0; left: 0;
    background-color: rgba(248, 250, 251, 0.7);
    z-index: 0;
}
.contact-us-container{
    display: flex;
    justify-content: space-between;
}
.contact-form-wrapp{
    width: 59.5%;
    padding: 38px 31px;
    background-color:  rgba(2, 22, 35, 0.71);
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    z-index: 5;
}
.contact-form input, textarea{
    display: block;
    width: 100%;
    padding: 12px 0;
    font: 14px 'Raleway', sans-serif;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.contact-form input{
    margin-bottom: 10px;
}
.contact-form input:focus, textarea:focus{
    outline: none;
}
.contact-form textarea{
    resize: none;
    margin-bottom: 38px;
}
.contact-form .btn-submit{
    border-radius: 2px;
    border: none;
    background: #6eeee4;
    padding: 10px 20px;
    font: 18px 'Montserrat', sans-serif;;
    color:  #000;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .btn-submit:hover{
    background: rgba(118, 244, 234, 0.9);
}
.location-wrapp{
    width: 39.5%;
    padding: 20px 22px;
    background-color:  rgba(2, 22, 35, 0.71);
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    z-index: 5;
}
.location-text{
    padding: 10px 10px;
    margin-bottom: 32px;
}
.location-text p, a{
    text-align: left;
    margin-bottom: 5px;
    font-size: 15px;
    color: #b6babd;
}

.location-text a{
    display: block;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
.location-text a:last-child{
    margin-bottom: 0;
}
.location-text a:hover{
    color: #6eeee4;
}
.m_location-text-margin{
    margin-bottom: 20px;
}
.location-map iframe{
    width: 100%;
    min-height: 170px;
}
/*--------------- Footer ----------*/
footer{
    background:  #262b2e;
    width: 100%;
}
.footer-inner{
    min-width: 290px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.footer-inner h4{
    color: #fff;
    font-weight: 400;
    font: 16px 'Raleway', sans-serif;
}
.footer-inner a{
    display: inline-block;
    width: 46px;
    height: 40px;
    padding: 15px 20px;
    background: rgba(138, 138, 138, 0.4);
    position: relative;
}
.footer-inner a:hover{
    background: #71f6eb;
}
.footer-inner i {
    color: #faf5f5;
}
.footer-inner i:before{
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.footer-inner p{
    margin-bottom: 0;
    font-size: 12px;
    color: #fff;
}
.footer-inner a:hover .fa-pinterest-p {
    color: #000;
}
.footer-inner a:hover .fa-facebook {
    color: #000;
}
.footer-inner a:hover .fa-twitter {
    color: #000;
}
.footer-inner a:hover .fa-dribbble {
    color: #000;
}

@media (max-device-width: 1050px) {
    .hero-img-wrapp {
        width: 48.5%;
    }

    .hero-quote-wrapp {
        width: 48.5%;
        position: relative;
    }

    .hero-quote-inner {
        padding: 30px;
    }

    .slick-prev {
        left: 80%;
    }

    .slick-next {
        right: 9%;
    }

    .about-us-slider-wrapp.slick-dots {
        width: 100%;
    }
    .quote-slider-wrapp .slick-dots{
        width: 48.5%;
    }

}

@media (max-device-width: 1024px) {
    .hero-info {
        display: block;
    }

    .slick-prev {
        left: 80%;
    }

    .slick-next {
        right: 8%;
    }
}

@media screen and (max-width: 952px) {
    .container-xl {
        padding: 70px 10px;
    }

    .about-us-inner {
        display: block;
    }

    .about-us-slider-wrapp {
        position: relative;
        width: 100%;
        margin: 0 0 70px 0;
    }

    .about-us-slider {
        max-width: 330px;
        margin: 0 auto;
    }

    .horizontal-block {
        width: 48%;
        height: 85%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .about-us-text-coll {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .container-xl-heading {
        margin-bottom: 70px;
    }

    .about-us-text-coll h3 {
        text-align: center;
    }

    .about-us-text-coll h4 {
        text-align: center;
    }
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 32px;
    }

    header {
        padding: 10px;
    }

    .mob-nav-section {
        top: 48px;
    }

    span.container-xl-heading-span {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .banner {
        padding: 170px 0 195px 0;
    }

    .team-item {
        width: 49.5%;
    }

    .slick-prev {
        left: 80%;
    }

    .slick-next {
        right: 7%;
    }

}

@media screen and (max-width: 900px) {
    .hero-img-wrapp {
        width: 45.5%;
    }

    .hero-quote-wrapp {
        width: 52.5%;
        position: relative;
    }

    .slick-prev {
        left: 80%;
    }

    .slick-next {
        right: 6%;
    }
}

@media screen and (max-width: 860px) {
    .hero-img-wrapp {
        width: 53.5%;
    }

    .hero-img-wrapp img {
        width: 100%;
    }

    .hero-quote-wrapp {
        width: 45.5%;
    }
    .contact-us-container {
        flex-direction: column;
    }
    .contact-form-wrapp {
        width: 100%;
        margin-bottom: 10px;
    }
    .location-wrapp {
        width: 100%;
    }
    .about-us-slider-wrapp.slick-dots {
        width: 100%;
    }
    .quote-slider-wrapp .slick-dots{
        width: 53.5%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 28px;
    }

    span.container-xl-heading-span {
        font-size: 15px;
    }

    .about-us-text-coll p {
        font-size: 14px;
    }

    .banner {
        padding: 170px 0 195px 0;
    }

    .horizontal-block {
        width: 60%;
    }

    .flex-wrapp {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1%;
    }

    .xl-services-flex-inner {
        width: 70%;
        margin: 0 auto 1%;

    }

    .xs-services-flex-inner {
        width: 70%;
        margin: 0 auto;
    }

    .m-revers-services-flex-wrapp .xs-services-flex-inner {
        margin: 0 auto 1%;
    }

    .m-revers-services-flex-wrapp .xl-services-flex-inner {
        margin-bottom: 0;
    }

    .team-item-description-inside-wrapp h3 {
        font-size: 18px;
    }

    .team-item-description-inside-wrapp p {
        font-size: 12px;
    }

    .layer-above-xl {
        display: none;
    }

    .hero-quote-inner {
        top: 0;
        bottom: 0;
    }
    .slick-prev, .slick-next {
        display: none !important;
    }

    .hero-img-wrapp img {
        margin: 0;

    }

}

@media screen and (max-width: 700px) {
    .hero-img-wrapp {
        width: 48%;
    }

    .hero-img-wrapp img {
        width: 100%;
    }

    .hero-quote-wrapp {
        width: 48%;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 24px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .mob-nav-section {
        width: 100%;
        right: 0;
        top: 48px;
    }

    span.container-xl-heading-span {
        font-size: 14px;
    }

    .banner {
        padding: 170px 0 195px 0;
    }

    .icon-glass {
        width: 85px;
        height: 90px;
        position: absolute;
        bottom: 30px;
        right: 50%;
        margin-right: -42px;
    }

    .horizontal-block {
        width: 80%;
    }

    .flex-container-xl_inner {
        width: 49.5%;
        margin-bottom: 0.7%;
    }

    .xl-services-flex-inner, .xs-services-flex-inner {
        width: 90%;
    }

    .team-item-description {
        left: 5px;
        right: 5px;
        bottom: 5px;
        padding: 10px;
    }

    .triangle-up {
        top: -20px;
    }

    .hero-img-wrapp {
        width: 40%;
    }

    .hero-img-wrapp img {
        width: 100%;
    }

    .hero-quote-wrapp {
        width: 58%;
    }

    .hero-quote-wrapp h3 {
        font-size: 16px;
    }

    .hero-quote-wrapp p {
        font-size: 12px;
    }

    .hero-quote-inner {
        padding: 10px;
    }
    .contact-form input, textarea {
        font-size: 12px;
    }
    .location-text p, a {
        font-size: 13px;
    }
    .quote-slider-wrapp .slick-dots{
        width: 40%;
    }

}

@media screen and (max-width: 550px) {
    .team-inner {
        justify-content: space-around;
    }

    .team-item {
        width: 90%;
        margin-bottom: 1%;
    }

    .team-item-description {
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding: 20px;
    }

    .triangle-up {
        top: -30px;
    }

    .hero-img-wrapp {
        display: none;
    }

    .hero-quote-wrapp {
        width: 100%;
        min-height: 320px;
    }

    .hero-quote-inner {
        padding: 30px;
    }
    .quote-slider-wrapp .slick-dots{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 40px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .banner {
        padding: 100px 10px 130px 10px;
    }

    .btn-banner {
        max-width: 200px;
        margin: 0 auto;
        font-size: 15px;
        padding: 15px;
        text-align: center;
    }

    .icon-glass {
        width: 40px;
        height: 42px;
        position: absolute;
        bottom: 50px;
        right: 50%;
        margin-right: -20px;
    }

    .icon-glass img {
        width: 40px;
        height: 42px;
    }

    .container-xl {
        padding: 50px 10px;
    }

    .container-xl-heading {
        margin-bottom: 50px;
    }

    .about-us-slider-wrapp {
        position: relative;
        width: 100%;
        margin: 0 0 50px 0;
    }

    .horizontal-block {
        width: 90%;
    }

    .flex-container-xl {
        justify-content: space-around;
    }

    .flex-container-xl_inner {
        width: 77%;
        margin-bottom: 1%;
    }

    .layer-abov a {
        font-size: 15px;
    }

    .team-inner {
        justify-content: space-around;
    }

    .team-item {
        width: 90%;
        margin-bottom: 1%;
    }

    .team-item-description {
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding: 20px;
    }

    .triangle-up {
        top: -30px;
    }
    .contact-form-wrapp{
        padding: 10px
    }
    .contact-form .btn-submit {
        padding: 5px 15px;
        font: 15px 'Montserrat', sans-serif;
    }
    .location-wrapp{
        padding: 10px;
    }

}

@media screen and (max-width: 375px) {
    .layer-abov {
        padding: 10px;
    }

    .layer-abov p {
        font-size: 13px;
    }

    .layer-abov a {
        bottom: 10px;
        left: 10px;
        font-size: 14px;
    }

    .team-item-description {
        left: 5px;
        right: 5px;
        bottom: 5px;
        padding: 10px;
    }

    .triangle-up {
        top: -20px;
    }

    .brands-row a {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .about-us-slider {
        max-width: 330px;
        margin: 0 auto;
    }

    .horizontal-block {
        width: 100%;
        height: 85%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .about-us-slider img {
        width: 80%;
        margin: 0 10%;
    }

    .about-us-text-coll {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .container-xl-heading {
        margin-bottom: 40px;
    }

    .about-us-text-coll h3 {
        text-align: center;
    }

    .about-us-text-coll h4 {
        text-align: center;
    }

    .xl-services-flex-inner, .xs-services-flex-inner {
        width: 100%;
    }

    .flex-container-xl_inner {
        width: 100%;
    }

    .flex-container-xl_inner img {
        width: 100%;
    }

    .hero-quote-wrapp {
        width: 100%;
        min-height: 340px;
    }

}


